img {
  width: 400px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
}

.card {
  width: 400px;
  padding: 10px;
}

.heart {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #beb4aa;
  border-radius: 50%;
  background-color: #eee;
}

/* FROM ORIGINAL PYTHON SITE */

/* changes background colour on nav and footer */
.blueback {
  background-color: #3498db;
}

/* use to center nav in <a class="navbar-brand text-light" href="{{url_for('get_all_items')}}">CLARKSON AUCTIONS</a> */
.navbar-brand-centered {
  position: absolute;
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}

html {
  scroll-behavior: smooth;
}

/* h1 {
  padding: 2% 0 0 0;
} */

/* spaces out logo */
.logo {
  padding: 3%;
}

.fixed-bottom {
  padding: 1% 0 0 0;
}

.cspace {
  padding: 1%;
}

.banner {
  padding: 4% 0;
}

.space {
  padding: 2% 0;
}

/* END FROM PYTHON SITE */

/* login animation */
/* .show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
} */

#main-holder {
  width: auto;
  height: auto;
  /* display: grid; */
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  position: fixed;
  z-index: 1;
}

.line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.line span {
  background: #fff;
  padding: 0 10px;
}

.navbar-brand {
  font-family: "Stint Ultra Expanded", cursive;
}
