/* .container {
  height: 100vh;
} */

.card {
  width: 400px;
  padding: 10px;
  border: 1px solid #eee;
}

.inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.heart {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #beb4aa;
  border-radius: 50%;
  background-color: #eee;
}

/* .btn:focus {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
  box-shadow: none;
} */

/* FROM PYTHON SITE */

/* changes background colour on nav and footer */
.blueback {
  background-color: #3498db;
}

/* use to center nav in <a class="navbar-brand text-light" href="{{url_for('get_all_items')}}">CLARKSON AUCTIONS</a> */
.navbar-brand-centered {
  position: absolute;
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}

html {
  scroll-behavior: smooth;
}

/* h1 {
  padding: 2% 0 0 0;
} */

/* spaces out logo */
.logo {
  padding: 3%;
}

.fixed-bottom {
  padding: 1% 0 0 0;
}

.cspace {
  padding: 1%;
}

.banner {
  padding: 4% 0;
}

.space {
  padding: 2% 0;
}

/* END FROM PYTHON SITE */

/* login animation */
/* .show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
} */

#main-holder {
  width: 40%;
  height: 40%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  position: fixed;
  z-index: 1;
}
